deb http://ftp.at.debian.org/debian trixie main contrib

deb http://ftp.at.debian.org/debian trixie-updates main contrib

# security updates
deb http://security.debian.org trixie-security main contrib

