# either
# man exports
# or check the mangpage here as needed
# https://man7.org/linux/man-pages/man5/exports.5.html

# no_subtree_check - skip looking up the filesystem id of a requested file,
# which is slower and costs performance
# since every share is a separate zfs filesystem, this has no security drawbacks

# sync - request synchronous, rather than asynchronous operation
# synchronous operations will wait for the backend to confirm
# this is the default after nfs-utils 1.0.0

/wunderhort/backup			192.168.178.0/25(rw,sync,no_subtree_check)
/wunderhort/dokumente			192.168.178.0/25(rw,sync,no_subtree_check)
/wunderhort/home			192.168.178.0/25(rw,sync,no_subtree_check)
/wunderhort/medien			192.168.178.0/25(rw,sync,no_subtree_check)
/wunderhort/medien			192.168.178.140(rw,sync,no_subtree_check)
/wunderhort/passwoerter			192.168.178.0/25(rw,sync,no_subtree_check)
/wunderhort/programming			192.168.178.0/25(rw,sync,no_subtree_check,insecure)
/wunderhort/projekte			192.168.178.0/25(rw,sync,no_subtree_check)
/wunderhort/pve-general-storage		192.168.9.0/24(rw,no_subtree_check,insecure,no_root_squash,anonuid=100,anongid=100)
/wunderhort/research			192.168.178.0/25(rw,sync,no_subtree_check)
/wunderhort/scratch			192.168.178.0/25(rw,sync,no_subtree_check)
/wunderhort/steam			192.168.178.0/25(rw,sync,no_subtree_check)
/wunderhort/stl				192.168.178.0/25(rw,sync,no_subtree_check)
/wunderhort/tabletop			192.168.178.0/25(rw,sync,no_subtree_check)

# Nekropolis Kubernetes Cluster
/wunderhort/medien			192.168.10.0/25(ro,sync,no_subtree_check)
/wunderhort/scratch			192.168.10.0/25(rw,sync,no_subtree_check)
# for dynamic provisioning
/wunderhort/nekropolis-csi-nfs		192.168.10.0/25(rw,sync,no_subtree_check)
